@import 'reset';


$cor-fundo: #eee;
$cor-fonte: #555;
$borda-padrao: 6px;
$padding-padrao: 10px;

@mixin girar($graus) {
  transform: rotate($graus);
  -webkit-transform: rotate($graus + 60deg);
  -moz-transform: rotate($graus);
  -ms-transform: rotate($graus + 30deg);
}

nav{
  background-color: $cor-fundo;

  &:hover a{
    background-color: red;
  }
  ul{
    list-style: none;
    display: flex;    
    li{
      padding: $padding-padrao;
      margin: 0 $padding-padrao;
      @include girar(90deg);      
      a{
        text-decoration: none;
        color: $cor-fonte;
        display: block;
        background-color: #ddd;
        padding: $padding-padrao;
        border: 3px solid $cor-fonte;
        
        &:hover{
          background-color: #eee;
        }
      }
    }
  }
}

h1{
  font-size: 30px; 
  color: $cor-fonte
}

.quadrado{
  width: 200px;
  height: 200px;
  // display: inline-block;
  border: $borda-padrao solid $cor-fonte;
  padding: $padding-padrao;
  background-color: $cor-fundo;
}

.retangulo{
  width: 400px;
  height: 200px;
  display: inline-block;
  border: $borda-padrao solid $cor-fonte;
  padding: $padding-padrao;
  background-color: $cor-fundo;
}

%fundamento-msg{
  padding: $padding-padrao;
  font-size: 24px;
  border: $borda-padrao solid #ccc;
  width: 400px;
  margin-bottom: $padding-padrao;
  text-align: center;
}

.msg-info{
  @extend %fundamento-msg;
  color: blue;
  border-color: blue;
}

.msg-alerta{
  @extend %fundamento-msg;
  color: red;
  border-color: red;
}

.msg-aviso{
  @extend %fundamento-msg;
  margin-top: 10px;
  color: orange;
  border-color: orange;
}

%item {
  background-color: #000;
  height:40px;
  margin-bottom: 10px;
}

$item-width: 250px;

.item{
  @extend %item;
  width: $item-width;
}

.item-duplo{
  @extend %item;
  width: $item-width * 2;
}

.item-metade{
  @extend %item;
  width: calc($item-width / 2);
}

.item-triplo{
  @extend %item;
  width: $item-width * 3;
}

// 11 - for if
%item-padrao{
  font-size: 14px;
  border: 3px solid #555;
  padding: 5px;
  background-color: #000;
  color: $cor-fonte;
}

%item-negrito{
  font-weight: bold;
}

%item-semi-negrito{
  font-weight: normal;
}

@for $i from 1 through 10 {
  .item-#{$i}{
    @extend %item-padrao;

    @if $i <= 3 {
      @extend %item-negrito;
    }
    @else {
      @extend %item-semi-negrito;
    }
  }
}

//12 - hover