* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ccc;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
}

nav {
  background-color: #eee;
}
nav:hover a {
  background-color: red;
}
nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  padding: 10px;
  margin: 0 10px;
  transform: rotate(90deg);
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(120deg);
}
nav ul li a {
  text-decoration: none;
  color: #555;
  display: block;
  background-color: #ddd;
  padding: 10px;
  border: 3px solid #555;
}
nav ul li a:hover {
  background-color: #eee;
}

h1 {
  font-size: 30px;
  color: #555;
}

.quadrado {
  width: 200px;
  height: 200px;
  border: 6px solid #555;
  padding: 10px;
  background-color: #eee;
}

.retangulo {
  width: 400px;
  height: 200px;
  display: inline-block;
  border: 6px solid #555;
  padding: 10px;
  background-color: #eee;
}

.msg-aviso, .msg-alerta, .msg-info {
  padding: 10px;
  font-size: 24px;
  border: 6px solid #ccc;
  width: 400px;
  margin-bottom: 10px;
  text-align: center;
}

.msg-info {
  color: blue;
  border-color: blue;
}

.msg-alerta {
  color: red;
  border-color: red;
}

.msg-aviso {
  margin-top: 10px;
  color: orange;
  border-color: orange;
}

.item-triplo, .item-metade, .item-duplo, .item {
  background-color: #000;
  height: 40px;
  margin-bottom: 10px;
}

.item {
  width: 250px;
}

.item-duplo {
  width: 500px;
}

.item-metade {
  width: 125px;
}

.item-triplo {
  width: 750px;
}

.item-10, .item-9, .item-8, .item-7, .item-6, .item-5, .item-4, .item-3, .item-2, .item-1 {
  font-size: 14px;
  border: 3px solid #555;
  padding: 5px;
  background-color: #000;
  color: #555;
}

.item-3, .item-2, .item-1 {
  font-weight: bold;
}

.item-10, .item-9, .item-8, .item-7, .item-6, .item-5, .item-4 {
  font-weight: normal;
}
